<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741626748491-uoqkc355bbps8vcgnlfotj16i80o90vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741626748491-uoqkc355bbps8vcgnlfotj16i80o90vv</string>
	<key>API_KEY</key>
	<string>AIzaSyDT80p3qWHI75Z7kSndY0LUHNxd6CVT1Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>741626748491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blakekvarfordt.Datr</string>
	<key>PROJECT_ID</key>
	<string>datr-4b7c8</string>
	<key>STORAGE_BUCKET</key>
	<string>datr-4b7c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741626748491:ios:f960d5157a5cc97b1f77ce</string>
	<key>DATABASE_URL</key>
	<string>https://datr-4b7c8.firebaseio.com</string>
</dict>
</plist>